<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    
    <h3 class="center">HI THERE !</h3>
    <h1 class="center">I'M <span>Akansha Rajpoot</span></h1>
    <p>I am belong to JHANSI(UP). I had completed BBA From shoolini university Bajhol(HP)
        from HR and Computer science BRANCH. I had Completed my schooling from S.V.M MOTH-JHANSI(UP).
    </p>
    <p> I am good in Programming Languages---  PYTHON, PYTHON FRAMEWORK :- DJANGO , MYSQL , PANADAS
        and very much intersted in HTML , CSS , JAVA-SCRIPT. Ihad completed many project in HTML and PYTHON Languages
        like--- E-SHOPPING WEB , MANAGEMENT-WEB (PYTHON) , YOU-TUBE AND FACEBOOK (HTML AND CSS) and create many app like---
        tic-tac-toe (PYTHON).
    </p>
    <a  href="https://github.com/Akku-bba"><button class="btn about-me">about me <i class="fas fa-user"></i></button></a>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="https://www.instagram.com/akanksha_rajpoot_07?igsh=ZjkyZ295dWsza3o=">Facebook</a>
        <a href="https://youtube.com/@akanksharajpoot-h1r?si=dXJGErGTeCk8_s7R">Youtube</a>
        <a href="https://www.instagram.com/akanksha_rajpoot_07?igsh=ZjkyZ295dWsza3o=">Instagram</a>
        <a href="https://x.com/RajpootAka34231?t=jjjNXSoy-vg1NyqZeCdDVg&s=09">Twitter</a>
    </div>

</section>

